body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.image-container {
    margin-bottom: 20px;
}
.login-image {
    width: 100%;
    max-width: 250px; 
    height: auto;
    margin-bottom: 20px;
}
h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 20px;
}
label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
    display: block;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}
@media (max-width: 500px) {
    .login-container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input, select {
        font-size: 14px;
    }

    .login-image {
        max-width: 120px;
    }
}
